<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.app500.dao.PlayMapper">

  <insert id="addPlay" parameterType="PlayDto">
    INSERT INTO PLAY_T(
        PLAY_NO
      , PLAYER
      , AGE
      , GENDER
      ) VALUES (
        PLAY_SEQ.NEXTVAL
      , #{player}
      , #{age}
      , #{gender}
    );
  </insert>
  
  

  <select id="getPlay" parameterType="int" resultType="PlayDto">
    SELECT PLAY_NO, PLAYER, AGE, GENDER FROM PLAY_T WHERE PLAY_NO = #{playNO}
  </select>

  
  <select id="getPlayList" resultType="PlayDto">
    SELECT PLAY_NO, PLAYER, AGE, GENDER FROM PLAY_T ORDER BY PLAY_NO DESC  
  </select>

  
  

  
  
  
</mapper>